<a href="https://colab.research.google.com/github/ekaratnida/Applied-machine-learning/blob/master/Pykeen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!rm -rf /content/sample_data
!pip uninstall pykeen
!pip install pykeen

In [ ]:
from pykeen.pipeline import pipeline

results = pipeline(model='TransE', dataset='Nations')
hits_at_10 = results.metric_results

In [ ]:
dir(results.model)

In [6]:
#Predict all tails
predicted_tails_df = results.model.get_tail_prediction_df('netherlands',	'militaryalliance',triples_factory=result.training)
predicted_tails_df[0:14]

    tail_id   tail_label      score  in_training
9         9  netherlands  -6.325672        False
12       12          usa  -8.942198         True
0         0       brazil  -9.331233        False
3         3         cuba  -9.384071        False
2         2        china  -9.417778        False
1         1        burma  -9.434298        False
5         5        india  -9.698841        False
13       13         ussr  -9.702950        False
7         7       israel  -9.722667        False
6         6    indonesia -10.264737        False
11       11           uk -10.351208         True
8         8       jordan -10.610597        False
4         4        egypt -10.647711        False
10       10       poland -10.906778        False

## Own dataset

In [17]:
#import pathlib
#TRAIN_PATH = HERE.joinpath('train.txt')
from pathlib import Path
p = Path("/content/drive/MyDrive/train.txt")
q = Path("/content/drive/MyDrive/test.txt")
print(type(p))

<class 'pathlib.PosixPath'>

In [ ]:
from pykeen.triples import TriplesFactory
from pykeen.pipeline import pipeline
from pykeen.datasets.nations import NATIONS_TRAIN_PATH, NATIONS_TEST_PATH
result = pipeline(
    training=p,
    testing=q,
    model='TransE',
    epochs=5,  # short epochs for testing - you should go higher
)
result.save_to_directory('doctests/test_pre_stratified_transe')

In [19]:
predicted_tails_df = results.model.get_tail_prediction_df('netherlands',	'militaryalliance',triples_factory=result.training)
predicted_tails_df[0:14]

    tail_id   tail_label      score  in_training
9         9  netherlands  -6.325672        False
12       12          usa  -8.942198         True
0         0       brazil  -9.331233        False
3         3         cuba  -9.384071        False
2         2        china  -9.417778        False
1         1        burma  -9.434298        False
5         5        india  -9.698841        False
13       13         ussr  -9.702950        False
7         7       israel  -9.722667        False
6         6    indonesia -10.264737        False
11       11           uk -10.351208         True
8         8       jordan -10.610597        False
4         4        egypt -10.647711        False
10       10       poland -10.906778        False