<a href="https://colab.research.google.com/github/ekaratnida/Applied-machine-learning/blob/master/Week09-KNN/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification

# Logistic Regression VS K-NN

In [1]:
from sklearn.linear_model import LogisticRegression
import pandas as pd

train_df = pd.read_csv("https://raw.githubusercontent.com/ekaratnida/Applied-machine-learning/master/Week09-KNN/data/attrition-train.csv")
#print(train_df.head())
test_df = pd.read_csv("https://raw.githubusercontent.com/ekaratnida/Applied-machine-learning/master/Week09-KNN/data/attrition-test.csv")
#print(test_df.head())
print(train_df.describe())
print(train_df.info())

               Age  DistanceFromHome    Education     JobLevel  \
count  1470.000000       1470.000000  1470.000000  1470.000000
mean     36.923810          9.192517     2.912925     2.063946
std       9.135373          8.106864     1.024165     1.106940
min      18.000000          1.000000     1.000000     1.000000
25%      30.000000          2.000000     2.000000     1.000000
50%      36.000000          7.000000     3.000000     2.000000
75%      43.000000         14.000000     4.000000     3.000000
max      60.000000         29.000000     5.000000     5.000000

       JobSatisfaction  MonthlyIncome  PercentSalaryHike  PerformanceRating  \
count      1470.000000    1470.000000        1470.000000        1470.000000
mean          2.728571    6502.931293          15.209524           3.153741
std           1.102846    4707.956783           3.659938           0.360824
min           1.000000    1009.000000          11.000000           3.000000
25%           2.000000    2911.000000          12.000000           3.000000
50%           3.000000    4919.000000          14.000000           3.000000
75%           4.000000    8379.000000          18.000000           3.000000
max           4.000000   19999.000000          25.000000           4.000000

       StockOptionLevel  TotalWorkingYears  YearsAtCompany  \
count       1470.000000        1470.000000     1470.000000
mean           0.793878          11.279592        7.008163
std            0.852077           7.780782        6.126525
min            0.000000           0.000000        0.000000
25%            0.000000           6.000000        3.000000
50%            1.000000          10.000000        5.000000
75%            1.000000          15.000000        9.000000
max            3.000000          40.000000       40.000000

       YearsSinceLastPromotion
count              1470.000000
mean                  2.187755
std                   3.222430
min                   0.000000
25%                   0.000000
50%                   1.000000
75%                   3.000000
max                  15.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   BusinessTravel           1470 non-null   object
 2   Department               1470 non-null   object
 3   DistanceFromHome         1470 non-null   int64
 4   Education                1470 non-null   int64
 5   Gender                   1470 non-null   object
 6   JobLevel                 1470 non-null   int64
 7   JobRole                  1470 non-null   object
 8   JobSatisfaction          1470 non-null   int64
 9   MaritalStatus            1470 non-null   object
 10  MonthlyIncome            1470 non-null   int64
 11  OverTime                 1470 non-null   object
 12  PercentSalaryHike        1470 non-null   int64
 13  PerformanceRating        1470 non-null   int64
 14  StockOptionLevel         1470 non-null   int64
 15  TotalWorkingYears        1470 non-null   int64
 16  YearsAtCompany           1470 non-null   int64
 17  YearsSinceLastPromotion  1470 non-null   int64
 18  Attrition                1470 non-null   object
dtypes: int64(12), object(7)
memory usage: 218.3+ KB
None

In [ ]:
X =train_df.loc[:, train_df.columns != 'Attrition']
print(X.head())
y = train_df["Attrition"]
print(y.head())
clf.fit(X,y)

1. Convert category to numerics https://www.statology.org/convert-categorical-variable-to-numeric-pandas/
2. Feature selection 
- https://www.analyticsvidhya.com/blog/2020/10/feature-selection-techniques-in-machine-learning/
- https://scikit-learn.org/stable/modules/feature_selection.html# 
- https://www.kaggle.com/code/carlmcbrideellis/feature-selection-using-the-boruta-shap-package/notebook
3. Feature scaling https://scikit-learn.org/stable/modules/preprocessing.html
4. Cross validation https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html
5. Confusion matrix report